body {
    background-color: #EDDDD0;
}

/* Header styling */
h1 {
    /* Changed the font of all h1 elements to match*/
    font-family: "Montserrat", sans-serif;
    color: #334259;
}

header {
    background-color: #a6cad4;
    text-align: center;
}

.list-style {
    list-style: none;
    display: flex;
    justify-content: center;
}

li {
    padding: 5px;
}

/* Footer styling */
footer {
    background-color: #a6cad4;
    text-align: center;
}